@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR');

html {
    height: 100%;
}

body {
    background-color: darkturquoise;
    font-family: 'Noto Serif KR', sans-serif;
    height: 100%;
}

/* Size of penguin image */
.logo {
    width: 50px;
    height: 50px;
}

.header {
    overflow: hidden;
    background-color: darkblue;
    padding: 5px 10px;
}

.header h1 {
    font-size: 20px;
    color: orangered;
}

/* Penguin image stays on the right */
.header h1 img {
    float: right;
}

/* Menu is essentially a bulleted list that is formatted to look pretty */
.menu {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: orangered;
}

/* Change menu from vertical to horizontal, and
   increase header text and logo size (this helps maximize real estate usage)
    on large screens */
@media screen and (min-width: 500px) {
    .menu li {
        float: left;
    }

    .header h1 {
        font-size: 25px;
    }

    .logo {
        width: 75px;
        height: 75px;
    }
}

.menu li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: darkblue;
}

/* Use pretty Google font API for form elements */
button, input, select, textarea {
    font-family : inherit;
}

textarea {
    vertical-align: top;
    width: 100%;
}

/* Form inputs fit browser window size */
input {
    width: 100%;
}

/* Except for radio buttons and checkbox */
input[type=radio], input[type=checkbox] {
    width: auto;
}

/* Submit button formatted to look nice */
input[type=submit], input[type=button] {
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.submitButton{
    text-align: center;
}

/* form displayed as a table to line up all input fields */
form {
    display: table;
    border-spacing: 5px;
}

.forms p {
    display: table-row;
}

.forms label, input {
    display: table-cell;
}

/* Table to display parking spaces results */
.resultsTable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid orangered;
    background-color: rgba(169, 169, 169, 0.658);
}

.resultsTable th {
    border-bottom: 2px double orangered;
}

.resultsTable td {
    border-bottom: 2px solid orangered;
}

.resultsTable th, td {
    padding: 10px;
    text-align: center;
}

/* defining size of div element that displays the map */
#mapId {
    height: 500px; 
    width: 99.999%;
    border: 2px solid orangered;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* max-width style added inline to images to prevent over-stretch but also display well in small screen sizes */
/* width set to 99.999% but not 100% to allow image to be centered */
.image {
    border: 2px solid orangered;
    width: 99.999%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.parkingHeader {
    text-align: center;
}

/* user reviews tables */
.reviewsTable td {
    text-align: left;
    background-color: rgba(169, 169, 169, 0.658);
}

/* displays each review as a separate column */
.reviewsTable td:nth-child(odd) {
    border-right: 2px solid orangered;
}

.reviewsTable td:nth-child(even) {
    border-left: 2px solid orangered;
}

.review {
    text-align: justify;
}

.checked {
    color: orange;
}

/* footer style */
footer {
    display: block;
    text-align: center;
    background-color: orangered;
    color: whitesmoke;
}

/* The following CSS tries to remove the empty space 
    after a footer on pages with little content */

.everything {
    min-height: 100%;
    position: relative;
}

.content {
    padding-bottom: 25px; /* footer height */
}

.pageFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;  /* footer height */
}

/* CSS Validation for form input boxes using pseudoclasses for validity */
input:valid {
    border: 2px solid blue;
}

input:invalid {
    border: 2px dashed red;
}

/* remove border from psuedo class from submit, button input */
input[type=submit], input[type=button] {
    border: hidden;
}